<div class="wrapper">
  <div class="toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="content">
    <button mat-raised-button color="primary">
      <mat-icon>home</mat-icon>
        Click me!
    </button>
    <div class="row">
      <button mat-raised-button color="primary">
        <mat-icon>home</mat-icon>
          Click me!
      </button>
    </div>
    <mat-checkbox>Check me!</mat-checkbox>
  </div>
  <div class="footer">
    <mat-toolbar color="primary">

    </mat-toolbar>
  </div>
</div> 